* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
  }

body {
    background-color: #0e0e0e;
}

.inner {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, 'Arial', "メイリオ", 'Meiryo', sans-serif;
    text-align: center;
    color: #fff;
}

.title-image {
    margin: .9rem 0;
}

.title-image img {
    width: 1120px;
    height: 240px;
}

.title {
    font-size: 1.6rem;
    margin: 2.5rem 0;
}

.message {
    font-size: 1.2rem;
    margin: 1.8rem 0;
}
